spring:
  application:
    name: warehouse
  config:
    import: configserver:http://localhost:8888
  cloud:
    config:
      discovery:
        enabled: true
        serviceId: warehouse

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/